{% extends 'base.html.twig' %}

{% block title %}My App{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1 class="display-4">Hello, Welcome to the Home Page!</h1>
        <hr class="my-4">
    </div>  
{% endblock %}
